In [1]:
import pandas as pd

# File to Load
find_path = "cities.csv"

In [2]:
# Read Purchasing File and store into Pandas data frame
cities = pd.read_csv(find_path)
cities.head(2)

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64

In [9]:
# Save to file
cities_table = cities.to_html(index=False)